node_modules/
dist/
coverage/
.prisma/
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
Thumbs.db
server.log
server-error.log
vite-out.log
vite-err.log
*.zip
